# Ignora tudo
*

# Não ignora o próprio .gitignore
!.gitignore

# Não ignora o readme
!readme.md

# Permite a pasta wp-content
!wp-content/
!wp-content/themes/

# Permite só a pasta tema né ô chimpanzé
!wp-content/
!wp-content/themes/
!wp-content/themes/underdogbytes/
!wp-content/themes/underdogbytes/**